In [3]:
import pandas as pd

def load_csv(url: str) -> pd.DataFrame:
    return pd.read_csv(url, sep=",")

filename = "Drug_Use_Data_from_Selected_Hospitals.csv"
filepath = f"../data/{filename}"

In [4]:
drug_use_df = load_csv(filepath)

In [ ]:
drug_use_df.head()

,FIGURE,SETTING,INDICATOR,GROUP,SUBGROUP,TIME,START_TIME,END_TIME,VALUE,MEASURE
0,0,IP,NaN,NaN,NaN,1,01/01/2020,01/31/2020,38478.0,Count
1,0,IP,NaN,NaN,NaN,2,02/01/2020,02/29/2020,35754.0,Count
2,0,IP,NaN,NaN,NaN,3,03/01/2020,03/31/2020,32745.0,Count
3,0,IP,NaN,NaN,NaN,4,04/01/2020,04/30/2020,26179.0,Count
4,0,IP,NaN,NaN,NaN,5,05/01/2020,05/31/2020,29679.0,Count
...,...,...,...,...,...,...,...,...,...,...
75,0,ED,NaN,NaN,NaN,35,11/01/2022,11/30/2022,109472.0,Count
76,0,ED,NaN,NaN,NaN,36,12/01/2022,12/31/2022,104300.0,Count
77,0,ED,NaN,NaN,NaN,37,01/01/2023,01/31/2023,96568.0,Count
78,0,ED,NaN,NaN,NaN,38,02/01/2023,02/28/2023,90527.0,Count
79,0,ED,NaN,NaN,NaN,39,03/01/2023,03/31/2023,100857.0,Count